<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46164061221-ceucsmbc0v0v024i3k0hhl41vthejlsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46164061221-ceucsmbc0v0v024i3k0hhl41vthejlsq</string>
	<key>API_KEY</key>
	<string>AIzaSyA-muXahrrU7tvw1TwK0ffq52FuAC0abRw</string>
	<key>GCM_SENDER_ID</key>
	<string>46164061221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chrisp3.fanpage</string>
	<key>PROJECT_ID</key>
	<string>fan-page-firebase-hw</string>
	<key>STORAGE_BUCKET</key>
	<string>fan-page-firebase-hw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46164061221:ios:af232d051dacb799baa3cc</string>
</dict>
</plist>